Architecture: amd64
Maintainer: f83043e79dc03a0abfbcbc376879a97d66f2cacb@protonmail.ch
Package: Wise
Priority: optional
Section: Educational
Version: 2026.05.20
Description: Wise Portable Document Reader
 Welcome to Wise!
 A wise.desktop file will also be installed in /usr/share/applications/.
